################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/21cardtrick/.vs/21cardtrick/v15/Server/sqlite3/db.lock
/21cardtrick/.vs/21cardtrick/v15/Server/sqlite3/storage.ide-shm
/21cardtrick/.vs/21cardtrick/v15/Server/sqlite3/storage.ide-wal
/21cardtrick/.vs/21cardtrick/v15/Server/sqlite3/storage.ide
/21cardtrick/.vs/21cardtrick/v15/.suo
/21cardtrick/21cardtrick/bin/Debug/21cardtrick.exe
/21cardtrick/21cardtrick/bin/Debug
/21cardtrick/21cardtrick/obj/Debug
